<div class='itemHeading'>
    <a class="dropdown-toggle" data-toggle="dropdown">
    <h3>  All Items</h3>
    </a>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z1">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="NAME">
      <th mat-header-cell *matHeaderCellDef> NAME </th>
      <td mat-cell *matCellDef="let element">
        <a href="#">{{element.Name}}</a>  </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="SKU">
      <th mat-header-cell *matHeaderCellDef> SKU </th>
      <td mat-cell *matCellDef="let element"> {{element.SKU}} </td>
    </ng-container>

    <ng-container matColumnDef="STOCK ON HAND">
      <th mat-header-cell *matHeaderCellDef> STOCK ON HAND </th>
      <td mat-cell *matCellDef="let element"> {{element.StockOnHand}} </td>
    </ng-container>

    <ng-container matColumnDef="REORDER LEVEL">
      <th mat-header-cell *matHeaderCellDef> REORDER LEVEL </th>
      <td mat-cell *matCellDef="let element"> {{element.ReorderLevel}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        (click)="selection.toggle(row)">
    </tr>
  </table>
