

  <mat-toolbar class="example-header" color="primary">

<!-- <span>Inventory</span> -->
<span routerLink='/dashboard'>Sample application</span>
<!-- This fills the remaining space of the current row -->
<span class="example-fill-remaining-space"></span>

  <span><a href="#"><span class="fa fa-bell-o fa-2x"></span></a></span>
  <span><a href="#"><span class="fa fa-gear fa-2x"></span></a></span>
  <span><a href="#"><span class="fa fa-question-circle-o fa-2x"></span></a></span>
   <span><a href="#"><span class="glyphicon glyphicon-user"></span> Santhip</a></span>
   <span><a href="#about"><span class="glyphicon glyphicon-log-out"></span> Logout</a></span>
</mat-toolbar>




